.input-group {
    width: 100%;
}

.h4 {
    word-wrap: break-word;
}

select {
    text-align: center;
    text-align-last:center;
}

select option {
    text-align-last:center;
}

.nav {
    border: none;
}

.nav-tabs .nav-link {
    border: none;
}

.nav-item:hover {
    border-bottom: 1px solid white;
}

.card {
    border-radius: 20px;
}